<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
</head>
<body>
  <h1>Welcome to Football Tracker!</h1>

  <% if user_signed_in? %>
    <p>Welcome back, <%= current_user.email %>!</p>
    <%= button_to "Log out", destroy_user_session_path, method: :delete %>
    <p><%= link_to "View Players", players_path %></p>
    <p><%= link_to "View Matches", matches_path %></p>
  <% else %>
    <p>
      <%= link_to "Log In", new_user_session_path %> or
      <%= link_to "Sign Up", new_user_registration_path %>
    </p>
  <% end %>
</body>
</html>
