<h1>Players</h1>

<% if current_user.admin? %>
  <%= link_to 'New Player', new_player_path %>
  <%= link_to 'New Match', new_match_path %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Total Goals</th>
      <th>Total Assists</th>
      <th>Matches Played</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= "#{player.first_name} #{player.last_name}" %></td>
        <td><%= player.stats.sum(:goals) %></td>
        <td><%= player.stats.sum(:assists) %></td>
        <td><%= player.matches.count %></td>
        <td>
          <% if current_user.admin? %>
            <%= link_to 'Edit', edit_player_path(player) %> |
            <%= button_to 'Delete', player_path(player), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
        <td>
          <%= link_to 'Matches', player_stats_path(player) %>
        </td>
      </tr>
    <% end %>
    <%= link_to 'Back to Main', root_path, class: 'button' %>
  </tbody>
</table>
