<h1>Players</h1>

<% if current_user.admin? %>
  <%= link_to 'New Player', new_player_path %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Total Goals</th>
      <th>Total Assists</th>
      <th>Matches Played</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= "#{player.first_name} #{player.last_name}" %></td>
        <td><%= player.stats.sum(:goals) %></td>
        <td><%= player.stats.sum(:assists) %></td>
        <td><%= player.matches.count %></td>
        <td>
          <% if current_user.admin? %>
            <%= link_to 'Edit', edit_player_path(player) %> |
            <%= link_to 'Delete', player_path(player), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td colspan="5">
          <h3>Match Stats:</h3>
          <table>
            <thead>
              <tr>
                <th>Date</th>
                <th>Location</th>
                <th>Goals</th>
                <th>Assists</th>
                <th>Rating</th>
                <th>Presence</th>
              </tr>
            </thead>
            <tbody>
              <% player.stats.each do |stat| %>
                <tr>
                  <td><%= stat.match.date.strftime('%Y-%m-%d') if stat.match %></td>
                  <td><%= stat.match.location if stat.match %></td>
                  <td><%= stat.goals %></td>
                  <td><%= stat.assists %></td>
                  <td><%= stat.rating %></td>
                  <td><%= stat.present ? 'Yes' : 'No' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
