<h1>New Match</h1>

<%= form_with model: @match, local: true do |form| %>
  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>
  
  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Match' %>
  </div>
<% end %>

<%= link_to 'Back', players_path %>